body{
    background-color: #f2f8f8;

}

.all{
    width: 100%;
}




.navbar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 5%;
    padding-left: 10%;
    margin-top: -30px; 
    /* margin-left: 120px; */
    
    
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 20px 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.save{
    margin-left: -600px;
}
.invest{
    margin-left:-560px;
}
.sto{
    margin-left: -520px;
}
.faq{
    margin-left: -470px;
}
.res{
    margin-left: -430px;
}
.sin{
    border: 1px solid #122231;
    border-radius: 10px;
    padding: 15px 10px;
}
.cret{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: black;
    color: white;
}

.cow{
    border-radius: 20px;
    z-index: -1;
    top: 0;
    position: absolute;
    margin-top: 200px;
}
.ab{
    margin-left: 700px;

}
.boy{
    margin-bottom: -200px;
    border-radius: 15px;
    margin-left: -80px;


}
.girl{
    margin-bottom: -200px;
    border-radius: 15px;
    margin-left: 330px;

}
.gods{
    margin-bottom: -320px;
    border-radius: 15px;
    margin-left: -80px;

}
.fela{
    margin-bottom: -290px;
    margin-left: 330px;
    border-radius: 15px;

}
.cuti{
    margin-top: 470px;
    margin-left: 135px;
    border-radius: 15px;

}

.tax{
    margin-top: -500px;
    margin-left: -150px;
}
.tax h1{
    width: 320px;
    margin-left: 300px;
    font-size: 40px;
    font-weight: bolder;
}
.tax p{
    width: 350px;
    margin-left: 300px;
    font-size: 20px;
}
.pass{
    border: 0 solid grey;
    border-radius: 10px;
    background-color:  black;
    padding: 5px;
    width: 150px;
    height: 30px;
    margin-left: 150px;
    
}
.pass p{
    margin-left: 45px;
    margin-top: -110px;
    color: white;
    /* color: darkblue; */
}
.pass img{
    margin-bottom: 80px;
    margin-top: -8px;
    padding-top: 3px;
    padding-left: 3px;
}
.pass:hover{
    cursor: pointer;
    transform: scale(1.03);
}



.post{
    border: 0 solid grey;
    border-radius: 10px;
    background-color:  black;
    padding: 5px;
    width: 150px;
    height: 30px;
    margin-left: 320px;
    margin-top: -58px;
}
.post p{
    margin-left: 45px;
    margin-top: -110px;
    color: white;
}
.post img{
    margin-bottom: 80px;
    margin-top: -2px;
    padding-left: 5px;
}
.post:hover{
    cursor: pointer;
    transform: scale(1.03);
}


.lock img{
    margin-left: 30px;
    margin-bottom: -50px;

}
.lock h2{
    margin-left: 150px;
    margin-top: -50px;
    font-weight: bolder;
}

.lock p{
    width: 600px;
    margin-left: 150px;
}
.lock a{
    font-weight: bolder;
    font-size: larger;
    color: black;
    text-decoration: none;
    margin-left: 180px;
}
.lock a:hover{
    color: darkslategrey;
}
.lock{
    margin-left: 50px;
}

.farm{
    border: none;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: white;
    width: 500px;
    margin-left: 800px;
}

/* .pig {
   margin-top: -20px;
}
.ar{
    margin-left: -100px;
} */


/* .piggybank{
    margin-left: ;
    margin-bottom: 170px;
    
} */

/* .ar{
    image: url(./image/);
    image: url(./image/bluearrow);
    width: 40px;
    height: 20px;
    margin-left: 30px;
    margin-top: 155px;
} */

.farm:hover{
    color:  white;
    background-color: #2c5fcf;
}
.farm:hover.farm h1 {
    color: white;
}
.farm:hover a{
    color: white;
}

.farm p{
    width: 230px;
    margin-left: 15px;
}
.farm a{
    text-decoration: none;
    color: #0181ff;
    margin-left: 30px;
    /* margin-top: 30px; */
}
.farm h1{
    color: #0181ff;
    margin-left: 15px;
}
.farm img{
    margin-left: 250px;
    margin-bottom: -25px;
}
.ass h1{
    width: 350px;
    font-size: 50px;
}
.ass p{
    width: 300px;
    text-align: center;
    font-size: x-large;
}

.ass{
    margin-top: -350px;
    margin-left: 250px;
}


.gam{
    border: none;
    border-radius: 20px;
    padding: 25px 10px;
    background-color: white;
    width: 500px;
    margin-left: 800px;
    
}

.gam:hover{
    color:  white;
    background-color: #65bf7e;
}
.gam:hover.gam h1 {
 color: white;
}
.gam:hover p {
    color: white;
   }
.gam p{
    width: 230px;
    margin-left: 15px;
}
.rt{
    color: #0181ff;
    margin-left: 15px;
    
 
}
.gam h1{
    color: #0181ff;
    margin-left: 15px;
}
.gam img{
    margin-left: 250px;
    margin-bottom: -80px;
    border-top-right-radius: 25px;
    border-top-left-radius: 20px;

}






.gum{
    border: none;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: white;
    width: 500px;
    margin-top: -430px;
    margin-left: 150px;

    
}

.gum:hover{
    color:  white;
    background-color: #4993eb;
}

.gum:hover.gum h1{
    color: white;
}
.gum:hover p{
    color: white;
}
.gum p{
    width: 215px;
    margin-left: 15px;
}
.ring{
    color: #0181ff;  
 
}
.gum h1{
    color: #0181ff;
    margin-left: 15px;
}
.gum img{
    margin-left: 250px;
    margin-bottom: -75px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}




.sch{
    border: none;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: white;
    width: 500px;
    margin-left: 800px;

    
}

.sch:hover{
    color:  white;
    background-color: #0f1824;
}

.sch:hover.sch h1{
    color: white;
}
.sch:hover p{
    color: white;
}

.sch p{
    width: 200px;
    margin-left: 15px;
}
.race{
    color: #0181ff;  
 
}
.sch h1{
    color: #0181ff;
    margin-left: 15px;
}
.sch img{
    margin-left: 270px;
    margin-bottom: -75px;
}







.guy{
    border: none;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: white;
    width: 500px;
    margin-top: -420px;
    margin-left: 150px;

    
}

.guy:hover{
    color:  white;
    background-color: #d45499;
}

.guy:hover.guy h1{
    color: white;
}
.guy:hover p{
    color: white;
}
.guy p{
    width: 200px;
    margin-left: 15px;
}
.run{
    color: #0181ff;  
 
}
.guy h1{
    color: #0181ff;
    margin-left: 15px;
}
.guy img{
    margin-left: 250px;
    margin-bottom: -75px;
}




.shift{ 
    margin-left: -100px;
}
.cup{
    background-color: white;
    height: 1200px;
    

    
}
.cup h1{
    font-size: 50px;
    padding-top: 150px;
    text-align: center;
}
.cup p{
    font-size: x-large;
    text-align: center;
    margin-top: -30px;
}








.tom{
    border: none;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: #6f1edc;
    width: 1100px;
    height: 600px;
    margin-left: 170px;
    z-index: 1;
    top: 10;
    margin-top: -900px;
    
}

.tom p{
    width: 250px;
    margin-left: 30px;
    font-size: 25px;
    color: #fed6f0;
}
.lan{
    color: white; 
    margin-top: -60px; 
 
}
.tom h1{
    color: white;
    margin-left: 30px;
    font-size: 40px;
}
.tom img{
    margin-left: 700px;
    margin-top: -80px;
}


.fax h1{
    font-size: 50px;
    text-align: center;
}

.fax p{
    width: 800px;
    text-align: center;
    font-size: 25px;
    margin-left: 300px;

}

.vid{
    margin-left: 250px;
    border: 10px solid white;
    border-radius: 10px;
}

.cut{
    margin-left: 680px;
    width: 470px;
    margin-top: 50px; 
}

.butt{
    border: 1px solid grey;
    border-radius: 10px;
    background-color:  #f2f8f8;
    padding: 5px;
    width: 150px;
    height: 30px;
    margin-left: 680px;
}
.butt p{
    margin-left: 45px;
    margin-top: -110px;
}
.butt img{
    margin-bottom: 80px;
    margin-top: -8px;
}
.butt:hover{
    cursor: pointer;
    transform: scale(1.03);
}



.port{
    border: 1px solid grey;
    border-radius: 10px;
    background-color:  #f2f8f8;
    padding: 5px;
    width: 150px;
    height: 30px;
    margin-left: 850px;
    margin-top: -60px;
}
.port p{
    margin-left: 45px;
    margin-top: -110px;
}
.port img{
    margin-bottom: 80px;
    margin-top: -2px;
    padding-left: 4px;
}
.port:hover{
    cursor: pointer;
    transform: scale(1.03);
}


.zee img{
    margin-left: 230px;
    margin-top: -300px;
}

.lost h1{
    text-align: center;
    font-size: 40px;
}
.lost img{
    margin-left: 60px;
}

.bat{
    background-color: #f7f7f7;
}

.ada{
    margin-left: 1120px;
    font-size: large;
    
}
.fa{
    margin-left: 15px;
}
.fa:hover{
    cursor: pointer;
    transform: scale(1.00);
}


.work{
    margin-left: 990px;
}


.work a{
    text-decoration: none;
    color: black;
    margin-left: 140px;
}
.work p{
    width: 300px;
    text-align: right;
}
.work p:hover{
    cursor: pointer;
}

.work a:hover{
    color: #2c5fcf;


}
.sars p:hover{
    color: #2c5fcf;
    cursor: pointer;

}

.sars{
    margin-left: 800px;
    margin-top:  -150px;
}



.egg p:hover{
    color: #2c5fcf;
    cursor: pointer;
}

.egg{
    margin-left: 600px;
    margin-top:  -150px;
}




.stone p:hover{
    color: #2c5fcf;
    cursor: pointer;
}

.stone{
    margin-left: 350px;
    margin-top:  -150px;
}

.zoo{
    margin-left: 100px;
    margin-top: -250px;
}



.salt{
    margin-left: 120px;

}

.que{
    font-size: 10px;
    margin-left: 100px;
    border-top: 1px solid gray;
    width: 88%;
    padding-top: 20px;
}

.weee{
    width: 550px;
}

.dud{
    width: 350px;
}

.tat{
    color: #0181ff;
}

/* .arrow{
    top: 0;
} */